            html, body {
				color: #000;
                background-color: #fff;
                font-family: 'Oswald', sans-serif;
                height: 100vh;
                margin: 0;
            }

            .masthead {
                height: 100vh;
                min-height: 500px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                color: #000;
                font-family: 'Oswald', sans-serif;
                }

            .masthead h1 {
                text-align: left;
                font-size: 50px;
            }

            .masthead a {

                height: 100%;
                width: 100%;
                border: 5px;
            }

            .masthead a:hover {
            }


            .navbar-brand {
                width:120px;
            }

            .navbar img {
                width:100%;
            }

            .nav-item{
                margin-left: 30px;
            }

            .thumbnail {
      				background-color:bg-light;
      				opacity:1;
      				border-radius: 25px;
      				border: 2px solid rgba(0, 0, 0, 0.15);
      				padding: 10px
            }

            .modal-content-small {
              width:500px;
            }

            .modal-title {
              text-align: center;
              font-weight: bold
            }

            .masthead img {
              max-width:100%;
              max-height:100%;
              border-radius: 25px;
            }
